{% extends 'shop_app/base.html' %} {% load bootstrap3 %} {% block body %}

<div class="row">


    <div class="col-sm-6 text-center padding-top-md">
        <img src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}" class="item-img-big zoom">
    </div>

    <div class="col-sm-6 ">

        <h3>{{ product.name }}</h3>
        <hr>

        <div class="row details-site">
            <div class="col-sm-3">
                <h6>Cena:</h6>
            </div>

            <div class="col-sm-9">
                <h6>{{ product.price }} zł</h6>
            </div>

            <div class="col-sm-3">
                <strong>Dostępność</strong>
            </div>

            <div class="col-sm-9">
                {{ availability }}
            </div>

            <div class="col-sm-3">
                <strong>Opis:</strong>
            </div>

            <div class="col-sm-9">
                {{ product.description | linebreaksbr }}
            </div>
        </div>

        {% if product.quantity %}
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            <div class="row padding-top-md">
                <div class="col-sm-3">
                    {% bootstrap_form form layout='horizontal' %}
                </div>

                <div class="col-sm-9">
                    {% bootstrap_button "Do koszyka" button_type="submit" button_class="btn-primary" %}
                </div>
            </div>
        </form>
        {% endif %}

    </div>

</div>

{% endblock %}