{% extends 'shop_app/base.html' %}
{% load bootstrap3 %}
{% load cart_filters %}

{% block body %}

    <h3>Koszyk</h3>
    <hr>
    {% bootstrap_messages %}

    {% if cart.products %}

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>LP</th>
                        <th>ZDJĘCIE</th>
                        <th>NAZWA</th>
                        <th>ILOŚĆ</th>
                        <th>CENA</th>
                        <th>USUŃ</th>
                    </tr>
                    </thead>
                <tbody>
                    {% for product in cart.products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'shop_app:details' product.pk %}"><img src="{{ product.image.url }}" class="item-cart-img"></a></td>
                            <td><a href="{% url 'shop_app:details' product.pk %}">{{ product.name }}</a></td>
                            <td class="col-sm-1">
                                <form method="post" action="{% url 'cart:update' product.pk %}" class="form-horizontal">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="{{ cart.session_cart | get_quantity:product.pk }}" min="1" class="form-control" onchange="this.form.submit()">
                                </form>
                            </td>
                            <td>{{ product.price }} zł</td>
                            <td><a href="{% url 'cart:remove' product.pk %}" class="cart-remove" ><i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row padding-top-md">

          <div class="col-sm-6">
            <h5>Wybierz:</h5>
            <hr>
            <form method="POST" action="{% url 'cart:shipping_method' %}" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form shippingmethodform layout='horizontal' %}
            </form>
          </div>

          <div class="clearfix"></div>

          <div class="col-sm-4 col-sm-offset-8 text-right">
            <p>Razem: {{ cart.get_subtotal_price }} zł</p>
            <p>Koszt wysyłki: {{ cart.shipping_method.price }} zł</p>
            <hr>
            <h5>Do zapłaty: {{ cart.get_total_price }} zł</h5>
          </div>



          <div class="col-sm-12 padding-top-md">

            <!-- window -->
            <div class="text-right">
              {% if user.is_authenticated %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Dalej</button>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Dalej</a>
              {% endif %}
            </div>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Podsumowanie zamówienia</h4>
                  </div>

                  <div class="modal-body">

                    <div class="row">

                      <div class="col-sm-6">
                        <h6>Dane dostawy:</h6>
                        <hr>
                        <address>
                          <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong><br>
                          {{ request.user.street }}<br>
                          {{ request.user.postcode }} {{ request.user.city }}<br>
                        </address>
                      </div>

                      <div class="col-sm-6">
                        <h6>Sposób wysyłki:</h6>
                        <hr>
                        {{ cart.shipping_method }}
                      </div>

                      <div class="col-sm-12 padding-top-md">
                        <h6>Zamówione produkty:</h6>
                        <hr>
                        <div class="table-responsive padding-top-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>LP</th>
                                        <th>ZDJĘCIE</th>
                                        <th>NAZWA</th>
                                        <th>ILOŚĆ</th>
                                        <th>CENA</th>
                                    </tr>
                                    </thead>
                                <tbody>
                                    {% for product in cart.products %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href="{% url 'shop_app:details' product.pk %}"><img src="{{ product.image.url }}" class="item-cart-img"></a></td>
                                            <td><a href="{% url 'shop_app:details' product.pk %}">{{ product.name }}</a></td>
                                            <td class="col-sm-1">{{ cart.session_cart | get_quantity:product.pk }}</td>
                                            <td>{{ product.price }} zł</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>



                      <div class="col-sm-4 col-sm-offset-8 text-right padding-top-md">
                        <p>Razem: {{ cart.get_subtotal_price }} zł</p>
                        <p>Koszt wysyłki: {{ cart.shipping_method.price }} zł</p>
                        <hr>
                        <h5>Do zapłaty: {{ cart.get_total_price }} zł</h5>
                      </div>

                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <a href="{% url 'cart:order_create' %}" class="btn btn-success" >Zamawiam</a>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    {% else %}
        {% bootstrap_alert "Koszyk jest pusty!" alert_type='info' %}
    {% endif %}

{% endblock %}
