.navbar-default {
    background-color: #FFF;
    background-image: none;
    padding: 10px 0px 5px 0;
    border-bottom:1px solid #E5E5E5;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
    border-bottom: 5px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    border-bottom: 5px solid #1ABC9C;
}

.badge {
    padding: 5px 10px 5px 10px;
    background-color: #34495E;
    margin-top: -0.1em;
    margin-left:5px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
}

.navbar-default .navbar-nav>.active>a:hover .badge ,.navbar-default .navbar-nav>li>a:hover .badge , .navbar-default .navbar-nav>li>a:focus .badge {
    background-color: #1ABC9C;
}

.dropdown li{
    font-size: 13px;
    text-align:center;
    text-transform: uppercase;
}
