body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 70px;
}


/*
    Other
*/
h6 + p{
    padding-top: 10px;
}

.padding-top-md{
    padding-top: 30px;
}

.padding-bottom-md{
    padding-bottom: 30px;
}

.required::before{
    content: "* ";
    color:#E74C3C;
}

.details-site col-sm-3 {
    font-weight: bold;
}

.bottom-column
{
    padding-top: 35px;
}

.btn{
    font-size: 13px;
    padding: 13px 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/*
    Nav
*/

.navbar-brand{
    font-family: 'Unica One', cursive;
    font-size: 20px;
}

.brand-globe{
    vertical-align: middle;
    font-size: 25px;
}

/*
    Header
*/

.header{
    background-image: url('../img/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    color:#FFF;
	width:100%;
	height:400px;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.header .brand{
    font-family: 'Unica One', cursive;
    font-size: 80px;
}

.header .brand-globe{
    vertical-align: middle;
    font-size: 85px;
}

@media (max-width: 750px) {

    .header .brand{
        font-size: 40px;
    }

    .header .brand-globe{
        font-size: 45px;
    }

}

/*
    Item
*/

.item{
    padding: 10px;
    text-align:center;
}

.item-img{
    width:65%;
}

.item-img-big{
    width:75%;
}

.item-price{
    margin-bottom: 25px;
}

.item-cart-img{
    width:60px;
}

/*
    Cart
*/

.table > tbody > tr > td, .table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

.cart-remove{
    color: #e74c3c;
}

.cart-remove:hover{
    color: #c0392b;
}



/*
    Footer
*/

footer{
    margin-top:50px;
    padding:50px 0 50px 0;
}

/*
    FLAT UI Alerts
*/

.alert {
  border-radius: 2px;
  border: 0;
  color: #fff;
  text-align: center;
}

.alert-info {
  background-color: #3498db;
}

.alert-success {
  background-color: #2ecc71;
}

.alert-danger {
  background-color: #e74c3c;
}
