{% extends 'shop_app/base.html' %}
{% load bootstrap3 %}
{% load panel_heading %}

{% block body %}

  <h3>Moje zamówienia</h3>
  <hr>
  {% bootstrap_messages %}

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% for order in orders %}

      <div class="panel {{ order.status | color_panel_heading }}">

        <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
              ZAMÓWIENIE NR {{ order.pk }} - {{ order.get_status_display }}
            </a>
        </div>

        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">

          <div class="panel-body">



            <div class="row">

              <div class="col-sm-10 col-sm-offset-1">
                <h5>Szczegóły zamówienia:</h5>
                <hr>
              </div>

              <div class="col-sm-5 col-sm-offset-1">
                <dl>
                  <dt>Sposób wysyłki:</dt>
                  <dd>{{ order.shipping_method.name }}</dd>
                  <dt>Koszt wysyłki:</dt>
                  <dd>{{ order.shipping_method.price }} zł</dd>
                  <dt>Przewidywany czas dostawy:</dt>
                  <dd>{{ order.shipping_method.days }} dni</dd>
                </dl>
              </div>

              <div class="col-sm-5 col-sm-offset-1">
                <dl>
                  <dt>Status:</dt>
                  <dd>{{ order.get_status_display }}</dd>
                </dl>

                <dl class="order-history-price">
                  <dt>Do zapłaty:</dt>
                  <dd>{{ order.total }} zł</dd>
                </dl>
              </div>
            </div>

            <table class="table table-hover">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Zdjęcie</th>
                      <th>Nazwa</th>
                      <th>Ilość</th>
                      <th>Cena</th>
                  </tr>
                </thead>
                <tbody>
                  {% for op in orders_products %}
                    {% if op.order == order %}
                      <tr>
                        <td>{{ op.product.pk }}</td>
                        <td><a href="{% url 'shop_app:details' op.product.pk %}"><img src="{{ op.product.image.url }}" class="item-cart-img"></a></td>
                        <td><a href="{% url 'shop_app:details' op.product.pk %}">{{ op.product.name }}</a></td>
                        <td>{{ op.quantity }}</td>
                        <td>{{ op.product.price }} zł</td>
                      </tr>
                    {% endif%}
                  {% endfor %}
                </tbody>
            </table>

          </div>

        </div>

      </div>

    {% endfor %}

  </div>


{% endblock %}
