{% extends 'shop_app/base.html' %}
{% load bootstrap3 %}

{% block body %}
   
    {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3>Logowanie</h3>
                <hr>
                {% bootstrap_messages %}
                {% bootstrap_form_errors form %}
            </div>
            
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% bootstrap_field form.username layout='horizontal' bound_css_class='has-error'%}
                    {% bootstrap_field form.password  layout='horizontal' bound_css_class='has-error'%}
                    {% bootstrap_button "Zaloguj" button_type="submit" button_class="btn-primary" %}
                </form>
                
                <div class="padding-top-md">
                    <a href="{% url 'accounts:password_reset' %}">Zapomniałeś hasła?</a><br>
                    <a href="{% url 'accounts:registration' %}">Nie masz jeszcze konta? Zarejestruj się!</a>
                </div>

            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">Jesteś zalogowany jako <strong>{{ user.username }}</strong>!</div>
    {% endif %}

{% endblock %}