{% extends 'shop_app/base.html' %}
{% load bootstrap3 %}

{% block body %}
    {% bootstrap_messages %}
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h3>Logowanie</h3>
            <hr>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-center">
        
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form show_help=False set_required=True show_label=False bound_css_class='has-error'%}
                {% bootstrap_button "Zaloguj" button_type="submit" button_class="btn-primary" %}
            </form>
            <div class="padding-top-md">
                <a href="{% url 'accounts:password_reset' %}">Zapomniałeś hasła?</a><br>
                <a href="{% url 'accounts:registration' %}">Nie masz jeszcze konta? Zarejestruj się!</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info" role="alert">Jesteś zalogowany jako <strong>{{ user.username }}</strong>!</div>
    {% endif %}
{% endblock %}