{% extends 'shop_app/base.html' %}
{% load bootstrap3 %}

{% block body %}
     
    {% if not user.is_authenticated %}
    
    <form method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h3>Rejestracja</h3>
                <hr>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <h6 class="required">Dane użytkownika:</h6>
                <p>
                    {% bootstrap_field form.username show_help=False show_label=False %}
                    {% bootstrap_field form.password1 show_label=False %}
                    {% bootstrap_field form.password2 show_label=False %}
                </p>
                <h6 class="required padding-top-md">Dane osobowe:</h6>
                <p>
                    {% bootstrap_field form.first_name show_label=False %}
                    {% bootstrap_field form.last_name show_label=False %}
                    {% bootstrap_field form.email show_label=False %}
                    {% bootstrap_field form.phone show_label=False %}
                </p>
                <h6 class="required padding-top-md">Adres dostawy:</h6>
                <p>
                    {% bootstrap_field form.street show_label=False %}
                    {% bootstrap_field form.city show_label=False %}
                    {% bootstrap_field form.postcode show_label=False %}
                </p>
                <div class="padding-top-md">
                    <label class="checkbox required" for="id_rules">
                        {{ form.rules }}<span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                        Akceptuję <a href="">regulamin</a> sklepu
                    </label>
                </div>
            </div>
            <div class="col-sm-12 text-center padding-top-md">
                <p>
                   {% bootstrap_button "Zarejestruj" button_type="submit" button_class="btn-success btn-lg" name="registration" %}
                </p>                     
            </div>
        </div>

    </form>
    {% else %}
        <div class="alert alert-info" role="alert">Jesteś zalogowany jako <strong>{{ user.username }}</strong>!</div>
    {% endif %}
{% endblock %}